LawyersIns/web/WEB-INF/wsdl/FinanceAgreementOptionService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://userbo.com/" targetNamespace="http://userbo.com/" version="1.0">

  <xs:element name="receiveAgreementQuoteNumber" type="tns:receiveAgreementQuoteNumber"/>

  <xs:element name="receiveAgreementQuoteNumberResponse" type="tns:receiveAgreementQuoteNumberResponse"/>

  <xs:complexType name="receiveAgreementQuoteNumber">
    <xs:sequence>
      <xs:element minOccurs="0" name="ipfsQuoteNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="paymentType" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="receiveAgreementQuoteNumberResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
